In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [20]:
#to get the data from president listing website
page = requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
page

# Q1 youtube most viewd videos

In [ ]:
#create a variable
soup = BeautifulSoup(page.content)
soup

In [32]:
v_name = []

for i in soup.find_all('a',class_="mw-redirect"):
    v_name.append(i.text.replace(','," "))
    #odi_match.append(i.text.replace(','," "))
v_name

#del odi_match[1::2]
#odi_match
#/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[2]/td[1]

['music videos',
 'regional restrictions',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'Alan Walker',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Baby Shark Dance',
 'List of most-viewed online trailers in the first 24 hours',
 'Wired',
 'CNet',
 'Criticism',
 'Censorship',
 'KSI vs. Logan Paul',
 'music videos']

In [33]:
v_rank = []

for i in soup.find_all('th', class_="mw-headerSort headerSortUp"):
    v_rank.append(i.text.replace(','," "))
v_rank

[]

# Q2 Scrape the details team India’s international fixtures from bcci.tv.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [105]:
driver = webdriver.Chrome(r'C:\Users\mohsi\Downloads\chromedriver_win32\chromedriver.exe')

In [106]:
driver.maximize_window()

In [107]:
url = 'http://www.bcci.tv/'
driver.get(url)

In [108]:
# click on button
click_btn = driver.find_element(By.CLASS_NAME,"nav-link")
click_btn.click()

In [47]:
# for reload belwo page details
for _ in range(50):
    driver.execute_script("window.scrollBy(0,50)")

In [130]:
M_title = []
M_series = []
M_place = []
M_date = []
M_time = []

In [131]:
    # for page reload
    for _ in range(10):
        driver.execute_script("window.scrollBy(0,10)")
    
    for i in range(100): #collect multiple data
        m_title=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
        m_series=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
        m_place =driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
        m_date=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
        m_time=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
    
        for j  in m_title:
            M_title.append(j.text)
        M_title[:100]    
    
    
        for k in m_series:
            M_series.append(k.text)
        M_series[:100]
    
    
        for l in m_place:
            M_place.append(l.text)
        M_place[:100]
    
        for n in m_date:
            M_date.append(n.text)
        M_date[:100]
        
        for n in m_time:
            M_time.append(n.text)
        M_time[:100]

In [132]:
len(M_title),len(M_series),len(M_place),len(M_date),len(M_time)

(800, 800, 800, 800, 800)

In [133]:
# create data set
m_ds=pd.DataFrame({})
m_ds['Title'] = M_title
m_ds['Series Name']=M_series
m_ds['Place']=M_place
m_ds['Date']=M_date
m_ds['Time']=M_time
m_ds

,Title,Series Name,Place,Date,Time
0,1st T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
1,3rd ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,10:00 AM GST
2,2nd T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
3,1st Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,8:00 AM GST
4,3rd T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
...,...,...,...,...,...
795,1st Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,8:00 AM GST
796,3rd T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
797,4th T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
798,5th T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",AUSTRALIA WOMEN TOUR OF INDIA 2022,5:30 PM GST
799,2nd Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,8:00 AM GST

# Q3  Scrape the details of selenium exception from guru99.com.

In [146]:
driver = webdriver.Chrome(r'C:\Users\mohsi\Downloads\chromedriver_win32\chromedriver.exe')

In [147]:
url = 'http://www.guru99.com/'
driver.get(url)

In [148]:
driver.maximize_window()

In [149]:
# click on button
click_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[2]/span[8]/a")
click_btn.click()

In [150]:
# click on button
click_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
click_btn.click()

In [245]:
S_name = []
S_desc = []

In [242]:
# create data set -------- Length of value does not match length of index error solution
#df = pd.DataFrame({'Name': S_name})
#df['Description'] = pd.Series(S_desc)
#df.head()

In [246]:
for i in range(1): #collect multiple data
        s_name=driver.find_elements(By.TAG_NAME,"p")

        for j  in s_name:
            S_name.append(j.text)
        S_name[:1]

In [247]:
df=pd.DataFrame({})
df['Desc'] = S_name

In [248]:
df[['Name','Description']] = df.Desc.str.split(":",expand=True)

In [254]:
df.head()

,Desc,Name,Description
0,An exception is an error that happens at the t...,An exception is an error that happens at the t...,None
1,"The exception indicates that, although the eve...","The exception indicates that, although the eve...",None
2,1. ElementNotVisibleException: This type of Se...,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
3,2. ElementNotSelectableException: This Seleniu...,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
4,3. NoSuchElementException: This Exception occu...,3. NoSuchElementException,This Exception occurs if an element could not...

In [258]:
df.drop(['Desc'], axis=1)
df.head()

,Desc,Name,Description
0,An exception is an error that happens at the t...,An exception is an error that happens at the t...,None
1,"The exception indicates that, although the eve...","The exception indicates that, although the eve...",None
2,1. ElementNotVisibleException: This type of Se...,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
3,2. ElementNotSelectableException: This Seleniu...,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
4,3. NoSuchElementException: This Exception occu...,3. NoSuchElementException,This Exception occurs if an element could not...

# Q4 Scrape the details of State-wise GDP of India from statisticstime.com

In [268]:
# to import select library
from selenium.webdriver.support.ui import Select

In [2]:
driver = webdriver.Chrome(r'C:\Users\mohsi\Downloads\chromedriver_win32\chromedriver.exe')

In [11]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [4]:
driver.maximize_window()

In [12]:
# click on dropdown menu
click_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
click_btn.click()

In [13]:
# click on dropdown menu
click_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
click_btn.click()

In [14]:
# click on state wise gdp link
click_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
click_btn.click()

In [27]:
gdp_rank = []
gdp_name = []
gsdp_18_19 = []
gsdp_g = []
share_g = []
gdp_bill = []

In [ ]:
  # scarp details
    
for i in range(1): #collect multiple data
        g_rank=driver.find_elements(By.XPATH,"//td[@class='data1']")
        g_name=driver.find_elements(By.XPATH,"//td[@class='name']")
        g_current=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
        g_gsdp=driver.find_elements(By.XPATH,"//td[@class='data']")
        g_share=driver.find_elements(By.XPATH,"//td[@class='data']")
        g_gdp=driver.find_elements(By.XPATH,"//td[@class='data']")
    
        for j  in g_rank:
            gdp_rank.append(j.text)
        gdp_rank    
    
    
        for k in g_name:
            gdp_name.append(k.text)
        gdp_name
    
    
        for l in g_current:
            gsdp_18_19.append(l.text)
        gsdp_18_19
    
        for n in g_gsdp:
            gsdp_g.append(n.text)
        gsdp_g
        
        for n in g_share:
            share_g.append(n.text)
        share_g
        
        for n in g_gdp:
            gdp_bill.append(n.text)
        gdp_bill

In [19]:
len(gdp_rank), len(gdp_name), len(gsdp_18_19), len(gsdp_g), len(share_g), len(gdp_bill)

(680, 680, 660, 3080, 3080)

In [23]:
df = pd.DataFrame({'Rank': gdp_rank})
df['Name'] = pd.Series(gdp_name)
df['GSDP 18-19'] = pd.Series(gsdp_18_19)
df['GSDP 19-20'] = pd.Series(gsdp_g)
df['Share'] = pd.Series(share_g)
df['GDP'] = pd.Series(gdp_bill)
df.head()

  Rank           Name GSDP 18-19 GSDP 19-20      Share
0    1    Maharashtra  2,632,792          -          -
1    2     Tamil Nadu  1,630,208     13.94%     13.94%
2    3  Uttar Pradesh  1,584,764    399.921    399.921
3    4        Gujarat  1,502,899          -          -
4    5      Karnataka  1,493,127  2,039,074  2,039,074